* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}

body {
  background-color: #121212;
  color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  margin: 0;
}

.container {
  width: 90%;
  max-width: 80rem;
  background-color: #1f1f1f;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  min-height: auto;
}
.container h1 {
  text-align: center;
}
form {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 20px;
}

input,
button {
  padding: 10px;
  border: none;
  border-radius: 5px;
}
input,
button:active {
  scale: 0.95;
}
input {
  flex: 1;
  background-color: #2e2e2e;
  color: #f5f5f5;
  cursor: pointer;
}

button {
  background-color: #4a4a4a;
  color: #f5f5f5;
  cursor: pointer;
  transition: background 0.3s ease;
}

button:hover {
  background-color: #616161;
}

.result {
  display: none;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 10px;
}

.result img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid #4a4a4a;
}
